.ScrollableDiv {
	flex-grow: 1;
	overflow: hidden;
	position: relative;
	display: flex;
}
.ScrollableDivTextContent {
	overflow: auto;
	width: 320px;
	background-color: #404040;
	color: #FFFFFF;
	padding-left: 40px;
	padding-right: 40px;
}
.ScrollableDivImageContent {
	overflow: auto;
	flex-grow: 1;
}
.TextSlide {
	height: 100vh;
	display: flex;
	width: 100%;
	justify-content: left;
	align-items: center;
	text-align: left;
}
.ImageSlide {
	height: 100vh;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
